@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

#feeders-page {

   .main-content {
    background: transparent;
    padding: 6rem 25% 1rem;
    flex: 1 1 80;
    font-size: 16px;
    
    
    
}

.m-layout {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns:  repeat(5, 1fr);
    grid-gap: 1rem;
    
    
    

}

.grid-item {
    background: rgb(48,83,53);
    background: linear-gradient(213deg, rgba(48,83,53,1) 5%, rgba(51,51,51,1) 8%);
    color: rgb(241, 11, 11);
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;

    &.medium  {
        grid-row: span 2;
        grid-column: span 2;
        


    @media(max-width: 768px) {
    &.mice {
        grid-area: mice;
    }

    &.rat {
        grid-area: rat;
    }  

    }
        
    }

    &.large {
        grid-row: span 3;
        grid-column: span 3; 
        @media(max-width: 768px) {
          grid-area: large;  
          
          &:hover {
            transform: scale(1.05);
            transition-duration: 0.7s;
                
        }
        } 
        
        
    }

    &.small {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-row: span 1;
        grid-column: span 1;

        @media(max-width: 768px) {
          grid-area: small;  
        }
        
    }

    &.tall {
        grid-row: span 3;
        grid-column: span 2;
        text-align: center;
        
        @media(max-width: 768px) {
          grid-area: tall;  
        }
        
    }

    &.wide {
        grid-row: span 2;
        grid-column: span 3;

        @media(max-width: 768px) {
          grid-area: wide;  
        }
        
    }

     .two-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: black;
        
    }

    & h1 {
        text-align: center;
        font-size: 1.5rem;
        padding: 3rem;

    }

    & ul .text-primary{
        font-weight: bold;
        
        
    }

     & ol {
        padding: 0 4rem 0 4rem;
        
    }

    & li {
        -webkit-text-stroke-width: 0.2px;
        -webkit-text-stroke-color: black;
        


    &::marker {
      color: red;  
    }
    

    }



    & h2 {
        text-align: center;
        margin: 2rem 0 2rem 0;
        color: red;

    }

    // &:hover {
    //     transform: scale(1.1);
    //     transition-duration: 0.7s;

    // }

}

.mice-price {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;

    
    

}

.rat-price {
    display: flex;
    position: relative;
    flex-direction: row;
    row-gap: 1rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    
    


}

.celllink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    margin: 1rem;
    font-size: 14px;
}

.cards__back,.bottom {
    position: absolute;
    bottom: 0;
}

    .mice {
        color: #f4f4f4;
        -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: black;
        
    }

    
    .rat {
        color: #f4f4f4;
        -webkit-text-stroke-width: 0.2px;
        -webkit-text-stroke-color: black;

    .btn-rat {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 1.5rem;
        padding: 1rem;

    }

    }


 @media(max-width: 768px){

    //  .main-content {
        
       
        
    //  }

    .main-content {
        background: transparent;
        padding: 4rem 6% 1px;
    }
    
     .m-layout {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
     grid-template-areas:   'large' 
                            'rat' 
                            'mice'
                            'tall'
                            'wide'
                            'small';
    //  align-items: center;
    //  justify-content: center;
     margin: 25% 0 0;   
    
     
        
    
     }

     .grid-item {
         font-size: 0.7rem;
        
         


         &.medium {
             font-size: 0.74rem;
             white-space: nowrap;
             -webkit-text-stroke-width: 0.1px;
            -webkit-text-stroke-color: black;
        
         }

         .mice-links {
             padding: 2px;
             margin: auto;
         }

         .rat-links {
             margin: auto;
             
         }


         .mice-price {
            display: flex;
            position: relative;
            flex-direction: row;
            row-gap: 0.5rem;
            margin-bottom: 2rem;

            
            
        }
        
        .rat-price {
            display: flex;
            position: relative;
            row-gap: 1rem;

            .colossal {
                padding: 0 50% 10% 0 ;
            }
            
        }

         
         .two-info {
         display: flex;
         flex-direction: column; 

         &:hover {
            transform: scale(1.09);
            transition-duration: 0.7s;
                
        }

         }

        & ol {
            padding: 0 1rem 0 1rem;
            margin-bottom: 1rem;
        }

         & li {
             padding: 1px;
             margin: 1px;
         }

         & h2 {
            margin-top: 1rem;
                    
         }

        

         }
        
     }
    


  
}

