@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
#feeders-page .main-content {
  background: transparent;
  padding: 6rem 25% 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80;
          flex: 1 1 80;
  font-size: 16px;
}

#feeders-page .m-layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

#feeders-page .grid-item {
  background: #305335;
  background: linear-gradient(213deg, #305335 5%, #333333 8%);
  color: #f10b0b;
  padding: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

#feeders-page .grid-item.medium {
  grid-row: span 2;
  grid-column: span 2;
}

@media (max-width: 768px) {
  #feeders-page .grid-item.medium.mice {
    grid-area: mice;
  }
  #feeders-page .grid-item.medium.rat {
    grid-area: rat;
  }
}

#feeders-page .grid-item.large {
  grid-row: span 3;
  grid-column: span 3;
}

@media (max-width: 768px) {
  #feeders-page .grid-item.large {
    grid-area: large;
  }
  #feeders-page .grid-item.large:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
  }
}

#feeders-page .grid-item.small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  grid-row: span 1;
  grid-column: span 1;
}

@media (max-width: 768px) {
  #feeders-page .grid-item.small {
    grid-area: small;
  }
}

#feeders-page .grid-item.tall {
  grid-row: span 3;
  grid-column: span 2;
  text-align: center;
}

@media (max-width: 768px) {
  #feeders-page .grid-item.tall {
    grid-area: tall;
  }
}

#feeders-page .grid-item.wide {
  grid-row: span 2;
  grid-column: span 3;
}

@media (max-width: 768px) {
  #feeders-page .grid-item.wide {
    grid-area: wide;
  }
}

#feeders-page .grid-item .two-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

#feeders-page .grid-item h1 {
  text-align: center;
  font-size: 1.5rem;
  padding: 3rem;
}

#feeders-page .grid-item ul .text-primary {
  font-weight: bold;
}

#feeders-page .grid-item ol {
  padding: 0 4rem 0 4rem;
}

#feeders-page .grid-item li {
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}

#feeders-page .grid-item li::marker {
  color: red;
}

#feeders-page .grid-item h2 {
  text-align: center;
  margin: 2rem 0 2rem 0;
  color: red;
}

#feeders-page .mice-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
}

#feeders-page .rat-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  row-gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#feeders-page .celllink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin: 1rem;
  font-size: 14px;
}

#feeders-page .cards__back, #feeders-page .bottom {
  position: absolute;
  bottom: 0;
}

#feeders-page .mice {
  color: #f4f4f4;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

#feeders-page .rat {
  color: #f4f4f4;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}

#feeders-page .rat .btn-rat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 1.5rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  #feeders-page .main-content {
    background: transparent;
    padding: 4rem 6% 1px;
  }
  #feeders-page .m-layout {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'large'  'rat'  'mice' 'tall' 'wide' 'small';
    margin: 25% 0 0;
  }
  #feeders-page .grid-item {
    font-size: 0.7rem;
  }
  #feeders-page .grid-item.medium {
    font-size: 0.74rem;
    white-space: nowrap;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
  }
  #feeders-page .grid-item .mice-links {
    padding: 2px;
    margin: auto;
  }
  #feeders-page .grid-item .rat-links {
    margin: auto;
  }
  #feeders-page .grid-item .mice-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    row-gap: 0.5rem;
    margin-bottom: 2rem;
  }
  #feeders-page .grid-item .rat-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    row-gap: 1rem;
  }
  #feeders-page .grid-item .rat-price .colossal {
    padding: 0 50% 10% 0;
  }
  #feeders-page .grid-item .two-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #feeders-page .grid-item .two-info:hover {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
  }
  #feeders-page .grid-item ol {
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
  }
  #feeders-page .grid-item li {
    padding: 1px;
    margin: 1px;
  }
  #feeders-page .grid-item h2 {
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */